# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
audio/
logs/
config.py

OPENAI_MODEL = "gpt-4o-mini"
# Picovoice Porcupine Wake Word


TARGET_SR = 16000
CHUNK_MS = 200

HOST = "0.0.0.0"
PORT = 5000
vosk-model-small-it-0.22/
vosk-model*/